body{
    margin: 0;
    background-color: black;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow: auto;
}

.navbar{
    background-color: black;
    border-color: none;
    display:flex;
    width:100%;
    align-items: center;
    text-decoration: none;
    
}

.button {
    border: 0;
    background-color: black;
    text-align: center;
    padding:3vh 5vw;
    color:white;
    cursor:pointer;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.dropdown{
    position:relative;
    display:inline-block;
}
.contacts{
    margin-left:auto;
}

.button:hover{
    background-color: gray;
}

.video{
    display:flex;
    flex-direction: column;
}
iframe{
    display:block;
    margin: 0 auto;
}

.dropdowncontent{
    display:none;
    position:absolute;
    z-index: 1;
    background-color: black;
    width: 100%;
}

.spacer{
    flex-grow: 1;
}

.dropdowncontent a{
    color:white; 
    text-decoration: none;
    display:block;
    text-align:center;
    height:100%;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.dropdown:hover .dropdowncontent{
    display:block;
}

.dropdowncontent a:hover{
    background-color: gray;
}

.hi{
    text-align: center;
    text-justify: center;
}

.bottom{
    font-size: 30px;
    display:flex;
    justify-content: center;
}

.furinapic{
    cursor:pointer;
    width: 100%;
}

.furinastuff{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.textbox{
    width:30%;
    text-align: justify;
}

.modal{
    display:none;
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    overflow:auto;
    background-color:rgba(0,0,0,.4);
}

.modal-content{
    margin: 5% auto;
    width:80%;
}

.modal-content img{
    width:100%;
    height:auto;
    MARGIN:0;
    padding:0;
    display:block;
}

.furinacontainer{
    margin:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    width:30%;
}

.furinabutton{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width:100%;
    background-color:black;
    padding-top: 3vh;
    padding-bottom:3vh;
    color:white;
    border:none;
    text-align: center;
    font-size: 5vh;
    margin-bottom: 3vh;
    text-decoration: none;
}

.furinabutton:hover{
    background-color:gray;
}